/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


/*      NAVBAR STYLEING     */

.site-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    position: static;
    top: 0;
    background: rgb(238, 235, 235);
    box-shadow: 3px 3px 10px rgb(83, 77, 77);
    z-index: 999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    margin: 0 2rem;
}

.navbar__logo {
    text-decoration: none;
    color: rgb(246, 26, 6);
    font-size: 1.7rem;
    font-weight: 600;
    cursor: pointer;
}

.navbar__toggle {
    display: none;
    border: none;
    background: transparent;
    transition: all 0.4s ease-in-out;
    z-index: 999;
}

.navbar__toggle-bar {
    display: block;
    background-color: hsl(0, 94%, 51%);
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in;
}

.navbar__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.navbar__menu-link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(57, 57, 218);
    background: transparent;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 8px 8px;
    transition: all 0.4s ease-in-out;
}

.navbar__menu-link:hover {
    background: rgb(244, 244, 25);
    color: rgb(22, 21, 21);
    border-color: gray;
}

/*      HERO SECTION STYLEING        */
