/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: hsl(0, 0%, 100%);
}

/*      NAVBAR STYLEING     */

.site-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    background: hsl(0, 0%, 100%);
    /*box-shadow: 3px 3px 10px rgb(83, 77, 77);*/
    z-index: 999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    margin: 0 2rem;
    border-radius: 20px;
}

.navbar__logo {
    text-decoration: none;
    color: #0230a3;
    font-size: 1.7rem;
    font-weight: 600;
    cursor: pointer;
}

.navbar__toggle {
    display: none;
    border: none;
    background: transparent;
    transition: all 0.4s ease-in-out;
    z-index: 999;
}

.navbar__toggle-bar {
    display: block;
    background-color: hsl(0, 94%, 51%);
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in;
}

.navbar__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.navbar__menu-link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #e74c3c;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 8px 8px;
    transition: all 0.4s ease-in-out;
}

.navbar__menu-link:hover {
    background: #2f3542;
    color: #00a8ff;
    border-color: gray;
}

.navbar__menu-link--active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    background: #2f3542;
    color: #00a8ff;
}

@property --deg {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

@keyframes spin {
    to {
        --deg: 360deg;
    }
}

.navbar__menu-link--active::before,
.navbar__menu-link--active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: conic-gradient(
        from var(--deg) at center,
        #e5ff00,
        #000000,
        #000000,
        #f6ff00
    );
    z-index: -2;
    padding: 2px;
    animation: spin 3s linear infinite;
}

.navbar__menu--active::before {
    filter: blur(10px);
}

/*      HERO SECTION STYLEING        */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: hsl(0, 0%, 100%);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 2rem;
    width: 100%;
    max-width: 1600px;    
}

.hero__details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero__title {
    font-size: 2rem;
    font-weight: 700;
    color: blue;
}

.hero__subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(22, 22, 21);
}

.hero__prograft {
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}

.hero__actions {
    margin-top: 20px;
}

.hero__btn {
    text-decoration: none;
    color: #e74c3c;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 8px 8px;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;

}

.hero__btn-ordernow,
.hero__btn-review:hover {
    background: #2f3542;
    color: #00a8ff;
    border-color: gray;
}
.hero__btn-ordernow:hover {
    background: transparent;
    color: #e74c3c;
    border-color: gray;
}

.hero__fils {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}

.hero__image {
    width: 100%;
}

/*      PRODUCT STYLEING        */

.product-section {
    background: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    height: 280vh;
    z-index: 999;
}

.product-title {
    font-size: 1.8rem;
    font-weight: 800;
    color: #000000;
}

.product-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(450px, 1fr));
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    max-width: 1300px;
    margin: 0 2rem;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 260px;
    height: 420px;
    margin: 0 1rem;
    border: 2px solid transparent;
    padding: 10px 10px;
    border-radius: 20px;
    background: transparent;
    transition: all 0.6s ease;
}

.product-item:hover {
    background: rgb(187, 161, 127);
    border: #2f3542;
}

.product-item__picture {
    max-width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.product-item__Name {
    font-size: 1.4rem;
    font-weight: 500;
    color: #2f3542;
    align-self: flex-start;
    margin: 0px 10px;
}

.product-item__price {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(53, 50, 41);
    align-self: flex-start;
    margin: 0px 10px;
}

.product-item__link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #e74c3c;
    background: transparent;
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 10px 10px;
    align-self: flex-end;
    transition: all 0.3s ease;
}

.product-item__link:hover {
    text-decoration: underline;
    background: #2f3542;
    color: #00a8ff;
}

/* CATEGORIES STYLEING      */

.categories-section {
    background:  hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250vh;
}

.categories__menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(500px, 1fr));
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 1600px;
    margin: 1rem 2rem;
}

.categories__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 650px;
    height: 400px;
    margin: 1rem 2rem;
    padding: 20px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.categories__item:hover {
    background: rgb(187, 161, 127);
    border: #2f3542;
}

.categories__item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.categories__item-title {
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
    font-weight: 700;
}

.categories__item-subtitle {
    color: #000000;
    font-size: 1.1rem;
    font-weight: 600;
}

.categories__item-link {
    text-decoration: none;
    color: #e74c3c;
    border: none;
    background: transparent;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 2rem 10px;
    font-size: 1.3rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.categories__item-link:hover {
    text-decoration: underline;
    background: #2f3542;
    color: #00a8ff;
}

.categories__item-image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar__menu {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5re0pm !important;
        width: 250px;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        margin: 3.5rem 1.5rem;
        padding: 3rem 2rem;
        background: #fff;
        transform: translateX(110%);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .navbar__menu-item {
        margin: 1rem 0;
    }

   .navbar__menu--active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    }

    .navbar__toggle {
        display: block;
        z-index: 999;
    }

    .navbar__toggle--active .navbar__toggle-bar:nth-child(2) {
        opacity: 0;
    }

    .navbar__toggle--active .navbar__toggle-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .navbar__toggle--active .navbar__toggle-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}
