/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: hsl(0, 0%, 100%);
    position: relative;
}

/*      NAVBAR STYLEING     */

.site-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    background: hsl(0, 0%, 100%);
    /*box-shadow: 3px 3px 10px hsl(0, 2%, 19%);*/
    z-index: 999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    margin: 0 2rem;
}

.navbar__logo {
    text-decoration: none;
    color: #0230a3;
    font-size: 1.7rem;
    font-weight: 600;
    cursor: pointer;
}

.navbar__toggle {
    display: none;
    border: none;
    background: transparent;
    transition: all 0.4s ease-in-out;
    z-index: 999;
}

.navbar__toggle-bar {
    display: block;
    background-color: hsl(0, 94%, 51%);
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in;
}

.navbar__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.navbar__menu-link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #e74c3c;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 8px 8px;
    transition: all 0.4s ease-in-out;
}

.navbar__menu-link:hover {
    background: #2f3542;
    color: #00a8ff;
    border-color: gray;
}

.navbar__menu-link--active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    background: #2f3542;
    color: #00a8ff;
}

@property --deg {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

@keyframes spin {
    to {
        --deg: 360deg;
    }
}

.navbar__menu-link--active::before,
.navbar__menu-link--active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: conic-gradient(
        from var(--deg) at center,
        #e5ff00,
        #000000,
        #000000,
        #f6ff00
    );
    z-index: -2;
    padding: 2px;
    animation: spin 3s linear infinite;
}

.navbar__menu--active::before {
    filter: blur(10px);
}

/*      SLIDEBAR STYLEING       */

.slidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: 70px;
    max-width: 500px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.3s ease;
    transform: translateX(-90%);
    background: #00a6ff29;
    backdrop-filter: blur(20px);
    box-shadow: 3px 3px 10px rgb(28, 28, 28)
                -3px -3px 10px rgb(79, 74, 74);
}

.slidebar--active {
    transform: translateX(0);
}

.slidebar-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slidebar-navbar__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.slidebar-navbar__link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #000000;
    padding: 8px;
    margin: 0 5px;
    background: transparent;
    border: none;
    border-radius: 20px;
}

.slidebar-toggle {
    background: transparent;
    border: none;
    z-index: 999;
    padding: 10px;
}

.slidebar-toggle__bar {
    display: block;
    background: #000000;
    width: 25px;
    height: 5px;
    margin: 3px auto;
    border: none;
}

.slidebar-toggle--active .slidebar-toggle__bar:nth-child(2) {
    opacity: 0;
}

.slidebar--active .slidebar-toggle__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.slidebar--active .slidebar-toggle__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
/*      HERO SECTION STYLEING        */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: hsl(0, 0%, 100%);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 2rem;
    width: 100%;
    max-width: 1600px;    
}

.hero__details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero__title {
    font-size: 2rem;
    font-weight: 700;
    color: blue;
}

.hero__subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(22, 22, 21);
}

.hero__prograft {
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}

.hero__actions {
    margin-top: 20px;
}

.hero__btn {
    text-decoration: none;
    color: #e74c3c;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 8px 8px;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;

}

.hero__btn-ordernow,
.hero__btn-review:hover {
    background: #2f3542;
    color: #00a8ff;
    border-color: gray;
}
.hero__btn-ordernow:hover {
    background: transparent;
    color: #e74c3c;
    border-color: gray;
}

.hero__fils {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}

.hero__image {
    width: 100%;
}

/*      PRODUCT STYLEING        */

.product-section {
    background: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    height: auto;
    z-index: 999;
}

.product-title {
    font-size: 1.8rem;
    font-weight: 800;
    color: #000000;
}

.product-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: 20px;
    background: #00a8ff;
}

.product-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 1400px;
    margin: 1rem auto;
    padding: 0 1rem;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid transparent;
    padding: 10px 10px;
    border-radius: 20px;
    background: transparent;
    transition: all 0.6s ease;
}

.product-item:hover {
    background: rgb(187, 161, 127);
    border: #2f3542;
}

.product-item__picture {
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.product-item__Name {
    font-size: 1.4rem;
    font-weight: 500;
    color: #2f3542;
    align-self: flex-start;
    margin: 0px 10px;
}

.product-item__price {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(53, 50, 41);
    align-self: flex-start;
    margin: 0px 10px;
}

.product-item__link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #e74c3c;
    background: transparent;
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 10px 10px;
    align-self: flex-end;
    transition: all 0.3s ease;
}

.product-item__link:hover {
    text-decoration: underline;
    background: #2f3542;
    color: #00a8ff;
}

/* CATEGORIES STYLEING      */

.categories-section {
    background: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.categories-title::after {
    content: "";
    width: 150px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: 20px;
    background: #00a8ff;
}

.categories__menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    /*grid-template-rows: repeat(auto-fit, minmax(500px, 1fr));*/
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 1600px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.categories__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.categories__item:hover {
    background: rgb(187, 161, 127);
    border: #2f3542;
}

.categories__item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.categories__item-title {
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
    font-weight: 700;
}

.categories__item-subtitle {
    color: #000000;
    font-size: 1.1rem;
    font-weight: 600;
}

.categories__item-link {
    text-decoration: none;
    color: #e74c3c;
    border: none;
    background: transparent;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 2rem 10px;
    font-size: 1.3rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.categories__item-link:hover {
    text-decoration: underline;
    background: #2f3542;
    color: #00a8ff;
}

.categories__item-image {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

/*      ABOUT STYLEING      */

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100vh;
    background: hsl(0, 0%, 100%);
    z-index: 999;
}

.about {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: hsl(0, 0%, 100%);
    width: 100%;
    max-width: 1400px;
    margin: 0 2rem;
    padding: 10px 10px;
}

.about__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 400px;
}

.about__image {
    width: 400px;
    height: 400px;
    border-radius: 200px;
}

.about__title {
    font-size: 1.7rem;
    font-weight: 600;
}

.about__title::after {
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    border-radius: 20px;
    margin: 10px auto 0;
    background: #00a8ff;
}

.about__text {
    font-size: 1.1rem;
    font-weight: 500;
}

.about__logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    background: #3e46593f;
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 10px hsl(223, 13%, 59%);
    width: 500px;
    height: 80px;
    border-radius: 10px;
    padding: 10px 10px;
}

.about__logo-instagram {
    color: rgb(178, 59, 59);
    font-size: 2.5rem;
    font-weight: 1000;
}

.about__logo-facebook {
    color: #3e59ba;
    font-size: 2.5rem;
    font-weight: 1000;
}

.about__logo-telegram {
    color: #08a8f8;
    font-size: 2.5rem;
    font-weight: 1000;
}

.about__logo-x-twitter {
    color: #00aaff;
    font-size: 2.5rem;
    font-weight: 1000;
}

/*      CONTACT STYLEING        */

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    background: hsl(0, 0%, 100%);
}

.contact-section-title::after {
    content: "";
    width: 90px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: 20px;
    background: #00a8ff;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 10px 10px;    
    margin: 0 2rem;
}

.contact {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem !important;
    padding: 10px 10px;
    margin: 1rem 1rem;
}

.contact__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.form__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-width: 0;
}

.form__input {
    width: 700px;
    height: 45px;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid hsl(0, 0%, 82%);
    transition: all 0.3s ease;
}

.form__textarea {
    width: 700px;
    height: 80px;
    resize: none;
    border-radius: 10px;
    padding: 10px 10px;
    outline: none;
    border: 2px solid hsl(0, 0%, 82%);
    transition: all 0.3s ease;
}

.form__input::placeholder,
.form__textarea::placeholder {
    color: #000000;
}

.form__input:focus,
.form__textarea:focus {
    border-color: #000000;

}

.form__button {
    font-size: 1rem;
    font-weight: 500;
    color: #00a8ff;
    background: #2f3542;
    border: 2px solid transparent;
    padding: 8px 8px;
    border-radius: 10px;
    margin-left: 2.3rem;
    transition: all 0.3s ease;
}

.form__button:hover {
    background: transparent;
    border-color: #6e6868;
    color: #1d1c1c;
}

.form__button:active {
    background: #3e4659;
}

/*      FOOTER STYLEING     */

.site-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 70px;
    background: #000000;
    z-index: 999;
}

.footer {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    max-width: 1600px;
    margin: 0rem 2rem;
}

.footer__copyright {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

.footer__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.footer__logo-instagram,
.footer__logo-facebook,
.footer__logo-telegram,
.footer__logo-x-twitter {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}


@media (max-width: 800px) {
    .navbar__menu {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 3rem !important;
        width: 250px;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        margin: 3.7rem 0rem;
        padding: 3rem 2rem;
        background: #fff;
        transform: translateX(110%);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .navbar__menu-item {
        margin: 1rem 0;
    }

   .navbar__menu--active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    background: hsl(0, 0%, 100%);
    }

    .navbar__toggle {
        display: block;
        z-index: 999;
    }

    .navbar__toggle--active .navbar__toggle-bar:nth-child(2) {
        opacity: 0;
    }

    .navbar__toggle--active .navbar__toggle-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .navbar__toggle--active .navbar__toggle-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
/*
    .product-section {
        height: 570vh;
    }

    .categories-section {
        height: 300vh;
    }
        */
}
